# Dependencies
node_modules/

# Build output
dist/
build/
.android/
.ios/

# Expo
.expo/
.exiorign
package-lock.json
tsconfig.tsbuildinfo

# Metro
.metro-cache

# IDE
.idea/
.vscode/
*.swp

# Misc
*.log
.env
.DS_Store
